@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dosis&display=swap');



body {
    background-image: url(../images/cover.JPG);
    background-position: top;
    font-family: 'Dosis', sans-serif;
    background-color: rgba(255, 249, 249, 0.198)
}

#masthead,h4 {
    background-color: transparent;
    font-family: 'DM Serif Display', serif;
}

footer{
    color: antiquewhite;
}


